body{
    background-color:  rgba(135, 93, 99, 0.1);
    text-align: center;
    

}

.header{
    color:pink;
    font-size:larger;
    font-weight:bold;
    text-align: center;
    text-decoration: underline;
    padding:20px;

}

.navigation a {
    background-color: pink;
     padding: 10px 15px;
    color:palevioletred;
    border-radius: 10px;
    margin: 0 20px;
}
a{
    color:palevioletred;
}
    .navigation a:hover {
    background-color: palevioletred;
    color: white;
    }
   
    
 .main-content{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    background-color:  rgba(255, 192, 203, 0.3);
    gap:50px;
     padding:30px;
     font-size: 20px;
    color:rgb(156, 81, 93);
    text-align: center;
     border-radius: 15px;
    box-shadow :0 4px 20px rgba(0,0,0,0.1);
    
 }
 
 .coordonnees, .formulaire {
    background: rgb(245, 215, 215);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
 }
 
 h2 {
    color: palevioletred;
    text-decoration: underline;
}
label {
    display: flex;
    flex-direction: column;
    margin-top:20px;
    font-weight: bold;
    color: #555;
}
input, textarea {
    width: 50%;
    padding: 10px;
    border: 2px solid #ffc0cb;
    border-radius: 10px;
    font-size: 1rem;
}