body{
    background-color:  rgba(135, 93, 99, 0.1);

}

.header{
    color:pink;
    font-size:larger;
    font-weight:bold;
    text-align: center;
    text-decoration: underline;

}

.navigation a {
    background-color: pink;
    padding: 10px;
    color:palevioletred;
    border-radius: 10px;
    margin: 0 15px
    
    
}
  .navigation a:hover {
    background-color: palevioletred;
    color: white;
    }


.main-content{
     display: grid;
    grid-template-columns:repeat(4, 1fr);
    background-color:  rgba(255, 192, 203, 0.3);
    gap: 60px;
     padding:20px;
     font-size: 20px;
    color:rgb(156, 81, 93);
    text-align: center;
     border-radius: 15px;
    box-shadow :0 4px 20px rgba(0,0,0,0.1);
}

    .main-content section {
    background-color: #f5e3e3;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
     
    }
    .main-content section:hover {
        background-color: rgba(201, 115, 128, 0.1); 
        transition: border-color 0.3s ease;
    }
   

.competences li {
    display: grid;
    grid-template-columns: 150px 1fr; 
    gap: 10px;
    padding: 10px 0;
}
.main-content h2{color: palevioletred;           
    border-bottom: 2px solid palevioletred; 
    padding-bottom: 5px;             
    margin-bottom: 20px;             
    font-size: 1.8rem;
}
 
    
    

