.body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: palevioletred;
}

.container{
    color:pink;
    background-color: beige;
    width: 300px;
    padding : 50px;
    margin: 70px auto;
    border: 3px solid;
    border-radius: 20px;
    box-sizing:border-box;
    text-align: center;

}